#server:
#  error:
#    include-message: always
#    include-binding-errors: always

#datasource:
#  url: jdbc:mysql://localhost:3306/bankappschema
#  username: root
#  password: 100500VseBudeDobre

spring:

  main:
    banner-mode: off

  datasource:
    url: ${datasource.url}
    username: ${datasource.username}
    password: ${datasource.password}
    ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    MANAGER_PASSWORD: ${MANAGER_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  web:
    resources:
      static-locations: classpath:/static/

#app:
#  server:
#    url: ${app.server.url}
