ADMIN_PASSWORD: ${ADMIN_PASSWORD}
MANAGER_PASSWORD: ${MANAGER_PASSWORD}

spring:

  main:
    banner-mode: off

  datasource:
    url: ${datasource.url}
    username: ${datasource.username}
    password: ${datasource.password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  web:
    resources:
      static-locations: classpath:/static/