<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link rel="stylesheet" th:href="@{/styles_entity_page.css}">
</head>
<body>

    <h1>Accounts</h1>
    <h2>Available operations:</h2>
    <div class="link-container">
        <a class="link" th:href="@{/web/account-create.html}">Create new account</a>
        <a class="link" th:href="@{/TODO}">Update account's status</a>
        <a class="link" th:href="@{/TODO}">Find account by ID</a>
        <a class="link" th:href="@{/TODO}">Find all client's accounts</a>
        <a class="link" th:href="@{/TODO}">Find accounts with status "removed"</a>
        <a class="link" th:href="@{/TODO}">Delete account</a>
        <a class="link" th:href="@{/web}">Back to main menu</a>
    </div>


</body>
</html>