<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agreements</title>
    <link rel="stylesheet" th:href="@{/styles_entity_page.css}">
</head>
<body>
    <h1>Agreements</h1>
    <h2>Available operations:</h2>
    <div class="link-container">
        <a class="link" th:href="@{/TODO}">Create new agreement</a>
        <a class="link" th:href="@{/TODO}">Block agreement</a>
        <a class="link" th:href="@{/TODO}">Find agreement by ID</a>
        <a class="link" th:href="@{/TODO}">Delete agreement</a>
        <a class="link" th:href="@{/web}">Back to main menu</a>
    </div>

</body>
</html>