<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank manager working space</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Bank manager working space</h1>
<a class="link" th:href="@{/web/accounts.html}">Accounts</a>
<a class="link" th:href="@{/web/agreements.html}">Agreements</a>
<a class="link" th:href="@{/web/clients.html}">Clients</a>
<a class="link" th:href="@{/web/managers.html}">Managers</a>
<a class="link" th:href="@{/web/products.html}">Products</a>
<a class="link" th:href="@{/web/transactions.html}">Transactions</a>
</body>
</html>
