<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    <link rel="stylesheet" th:href="@{/styles_entity_page.css}">
</head>
<body>
    <h1>Managers</h1>
    <h2>Available operations:</h2>
    <div class="link-container">
        <a class="link" th:href="@{/TODO}">Create new manager</a>
        <a class="link" th:href="@{/TODO}">Update manager's information</a>
        <a class="link" th:href="@{/TODO}">Find manager by ID</a>
        <a class="link" th:href="@{/TODO}">Find all manager's clients</a>
        <a class="link" th:href="@{/TODO}">Delete manager</a>
        <a class="link" th:href="@{/web}">Back to main menu</a>
    </div>
</body>
</html>