<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles_entity_page.css}">
</head>
<body>
    <h1>Products</h1>
    <h2>Available operations:</h2>
    <div class="link-container">
        <a class="link" th:href="@{/TODO}">Create new product</a>
        <a class="link" th:href="@{/TODO}">Change product's manager</a>
        <a class="link" th:href="@{/TODO}">Find product by ID</a>
        <a class="link" th:href="@{/TODO}">Find all active products</a>
        <a class="link" th:href="@{/TODO}">Delete product</a>
        <a class="link" th:href="@{/}">Back to main menu</a>
    </div>
</body>
</html>