<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" th:href="@{/styles_entity_page.css}">
</head>
<body>
    <h1>Transactions</h1>
    <h2>Available operations:</h2>
    <div class="link-container">
        <a class="link" th:href="@{/TODO}">Create new transaction</a>
        <a class="link" th:href="@{/TODO}">Reject transaction</a>
        <a class="link" th:href="@{/TODO}">Find transaction by ID</a>
        <a class="link" th:href="@{/TODO}">Prepare monthly statement for client</a>
        <a class="link" th:href="@{/}">Back to main menu</a>
    </div>
</body>
</html>